.+{{path}}+
[cols="4,4", options="header"]
|===
|파라미터|설명

{{#parameters}}
|{{#tableCellContent}}
    {{^optional}}*`+{{name}}+`*{{/optional}}
    {{#optional}}`+{{name}}+`{{/optional}}
{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/parameters}}
|===

**볼드체**는 필수 항목입니다.