[cols="3,1,4", options="header"]
|===
|경로|타입|설명

{{#fields}}
|{{#tableCellContent}}
    {{^optional}}*`+{{path}}+`*{{/optional}}
    {{#optional}}`+{{path}}+`{{/optional}}
{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}
|===

**볼드체**는 필수 항목입니다.